.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
  margin-bottom: 1px;
}

.App-title {
  font-size: 2em;
}

.hide {
  display: none;
}


