
table
{
    width: 100%;
    table-layout: fixed;
    margin-bottom: 40px;
}

thead th
{
    color: black;
    background: #AAA;
    height: 40px;
    font-size: 1.1em;
}

h3
{
    background: #222222;
    color: white;
    padding: 20px;
    height: 100%;
    margin: 0px;
}


tr:nth-child(even)
{
    background: #DDD;
}

tr:nth-child(odd)
{
    background: #FFF;
}

.disableLi
{
    visibility: hidden;
    dislpay: none;
}