
table
{
    width: 100%;
    table-layout: fixed;
}

thead th
{
    background: #222;
    color: white;
    height: 40px;
    font-size: 1.1em;
}

tr:nth-child(even)
{
    background: #BBB;
}

tr:nth-child(odd)
{
    background: #EEE;
}

.disableLi
{
    visibility: hidden;
    dislpay: none;
}